<div class="footerContainer">
  <footer class="footer mt-auto py-3">
    <div class="container">
      <span class="text-muted">Naan Stop! Vancouver BC 123 Fake St. V5X 2D6</span>
    </div>
  </footer>
</div>
