<!DOCTYPE html>
  <html lang="en">
    <head>
      <title>Naan Stop! - Customer Order Status</title>
      <% include ./partials/_header %>
      <!-- Page CSS -->
      <link rel="stylesheet" href="/styles/admin.css" type="text/css" />

      <!-- Page Scripts -->
      <script type="text/javascript" src="/scripts/admin_order_details.js"></script>
    </head>

  <body>
    <h1>Customer Order Status</h1>
    <div class="admin_order_container">
      <div class="order_form">
        <div class="customer_details">
          <span class="orderId" id="customer_order_id"></span>
          <span class="name" id="customer_name"></span>
          <span class="phone" id="customer_phone"></span>
        </div>
        <table class="order_menu_table" id="menu_table">
          <th>Item #</th>
          <th class="menu_name">Item Name</th>
          <th>Quantity</th>
          <th>Subtotal</th>
        </table>
        <form action="/admin/order_edit" method="POST">
        <table class="status_table">
          <tr>
            <td class="pick_time">Order can be picked in:</td>
            <td>
              <select id="pick_up_select">
                <option value="20">20 minutes</option>
                <option value="30">30 minutes</option>
                <option value="45">45 minutes</option>
                <option value="60">60 minutes</option>
              </select>
            </td>
          </tr>
          <tr>
            <td class="order_state">Order Status:</td>
            <td>
              <select id="order_status_select">
                <option value="1">New Order</option>
                <option value="2">Order in progress</option>
                <option value="3">Order completed</option>
                <option value="4">Delete order</option>
              </select>
            </td>
          </tr>
          <tr id="order_status_controls">
            <td>
              <a href="/admin/orders" id="go_back_button" >Go Back</a>
            </td>
            <td>
              <input id="save_order_button" type="submit" value="Save Order" class="save_order"/>
            </td>
          </tr>
        </table>
      </div>
      </form>
      </div>
    </div>
    <% include ./partials/_footer %>
  </body>
</html>
