<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naan Stop! - List of all orders</title>
    <% include ./partials/_header %>
    <!-- Page CSS -->
    <link rel="stylesheet" href="/styles/admin.css" type="text/css" />
    <!-- Page Scripts -->
    <script type="text/javascript" src="/scripts/admin.js"></script>
  </head>
  <body>
    <div class="admin_order_container">
      <div class="admin_page_header">
        <h1>Naan Stop! - Orders List</h1>
      </div>
      <div id="new_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">New Orders</span>
        </div>
        <ul class="order_type"></ul>
      </div>
      <div id="in_progress_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">Orders in Progress</span>
        </div>
        <ul class="order_type"></ul>
      </div>
      <div id="completed_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">Orders Completed</span>
        </div>
        <ul class="order_type"></ul>
      </div>
    </div>
    <% include ./partials/_footer %>
  </body>
</html>
