<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naan Stop! - List of all orders</title>

    <!-- External CSS -->
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <!-- App CSS -->
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/admin.css" type="text/css" />

    <!-- External Scripts -->
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/admin.js"></script>
  </head>
  <body>
    <div class="admin_order_container">
      <div class="admin_page_header">
        <h1>Naan Stop! - Orders List</h1>
      </div>
      <div id="new_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">New Orders</span>
        </div>
        <ul class="order_type"></ul>
      </div>
      <div id="in_progress_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">Orders in Progress</span>
        </div>
        <ul class="order_type"></ul>
      </div>
      <div id="completed_orders" class="order_status">
        <div class="order_status_header">
          <span class="header_span">Orders Completed</span>
        </div>
        <ul class="order_type"></ul>
      </div>
    </div>
  </body>
</html>
