<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>
      Naan Stop!
    </title>
  </head>

  <body>
    <h1>Naan Stop!</h1>
    <section class="container">
      <article class="menuType">
        <ul>
          <li>GOTO APP</li>
          <li>GOTO ENTREE</li>
          <li>GOTO DESSERT</li>
          <li>GOTO ADD-ON</li>
          <li>GOTO DRINKS</li>
        </ul>
      </article>
      <form class="orderForm" action="/order" method="POST">
        <!-- SHOULD BE A FORM/JQUERY BUILD-->
        <table class="menuList">
          <tr>
            <th class="menuTitle">
              Our Menu
            </th>
            <th>Price</th>
            <th class="qtyColumn">qty</th>
          </tr>
          <tr class="menuitem">
            <td>ITEM!</td><td>$9.99</td>
            <td><input class="qty" name="qty" type="text"></input></td>
          </tr>
          <tr class="menuitem">
            <td>ITEM!</td><td>$5.99</td>
            <td><input class="qty" name="qty" type="text"></input></td>
          </tr>
          <tr class="menuitem">
            <td>ITEM!</td><td>$1.99</td>
            <td><input class="qty" name="qty" type="text"></input></td>
          </tr>
          <tr class="bottomLine"><td>total:</td></tr>
          <tr><td><button class="submit" type="submit"><span>Review Order </button></td></tr>

        </table>
      </form>
    </section>
  </body>
</html>
