<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <title>
      Naan Stop!
    </title>
  </head>

  <body>
    <h1>Naan Stop!</h1>
    <section class="container">
      <article class="menuType">
        <ul>
          <li>DUMMYAPP</li>
          <li>DUMMYENTREE</li>
          <li>DUMMYDESS</li>
          <li>DUMMYADDON</li>
          <li>DUMMYDRINKS</li>
        </ul>
      </article>
      <article class="menuList">
        <!-- SHOULD BE A FORM/JQUERY BUILD-->
        <ul>
          <li>
            apps
            <ul>
              <li>app1</li>
              <li>app2</li>
            </ul>
          </li>
          <li>
            entree
            <ul>
              <li>entree1</li>
              <li>entree2</li>
              <li>entree3</li>
            </ul>
          </li>
          <li>
            desserts
            <ul>
              <li>dessert1</li>
              <li>dessert2</li>
            </ul>
          </li>
          <li>
            add-ons
            <ul>
              <li>add-on1</li>
              <li>add-on2</li>
            </ul>
          </li>
          <li>
            drinks
            <ul>
              <li>coke</li>
              <li>pepsi</li>
            </ul>
          </li>
        </ul>
      </article>
    </section>
  </body>
</html>
