<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Naan Stop!</title>
    <% include ./partials/_header %>
    <script type="text/javascript" src="/scripts/menuBuilder.js"></script>
  </head>

  <body>
    <h1>Naan Stop!</h1>
    <h3>Our Menu</h3>
    <section class="maincontainer">
      <div class="menuType">
        <a class="left_nav" href="#app">Appetizers</a>
        <a class="left_nav" href="#tandoori">Tandoori</a>
        <a class="left_nav" href="#biryani">Biryani</a>
        <a class="left_nav" href="#bread">Breads</a>
        <a class="left_nav" href="#curries">Curries</a>
        <a class="left_nav" href="#dessert">Desserts</a>
        <a class="left_nav" href="#beverages">Beverages</a>
      </div>
      <form method="POST" action="/revieworder">
        <section class="menu_container"></section>
      </form>
    </section>
    <% include ./partials/_footer %>
  </body>
</html>
