<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/OrderConfirmation.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/orderConfirmation.js"></script>
  </head>

  <body>
    <h1>Order Confirmation</h1>
    <h2>Cart Details</h2>
    <form action="/order" method="POST">
      <section class ="Cart" id= "cart-container">
    
        <h3>Order Contact Information</h3>
        <div class="form-group mb-2">
          <label for="email">First Name:</label>
            <input class="form-control" type="text" name="firstName" style="width: 150px; margin: 1em">
          <label for="email">Last Name:</label>
            <input class="form-control" type="text" name="lastName" style="width: 150px; margin: 1em">
            
            <br>
          <label for="phoneNumber">Phone Number:</label>
          <input class="form-control" type="text" name="phoneNumber" style="width: 150px; margin: 1em">
        </div>

        <div>
          <p>
          </p>
        </div>
        
          <button class="btn orderConfirm" type="submit">Confirm Order</button>
      </section>
    </form> 

  </body>
</html>
