<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>
    <% include ./partials/_header %>
  </head>

  <body>
    <h1>Thank you for your order, <%= name %>!</h1>
    <article class="thankyou">
      <p class="thankyoumessage">
        Your order has been submitted to Naan Stop! for acceptance. You will receive a text message at <%= phone %> when the order is
        confirmed which will include an expected pickup time.
      </p>
    </article>
    <% include ./partials/_footer %>
  </body>
</html>
