html {
  background: url(/images/indian-restaurant-background-8.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body {
  background-color: transparent;
  h1 {
    color: palegoldenrod;
    font-family: cursive;
    text-align: center;
  }
  h3 {
    color: palegoldenrod;
    font-family: cursive;
    text-align: center;
  }
  .container {
    height: 350px;
    display: flex;
    align-items: center;

    .orderForm {
      width: 350px;
    }
    .menu_container {
      max-height: 350px;
      overflow-y: auto;
    }
    .menuTitle {
      width: 90%;
    }
    .menuType {
      background-color: #bf5f33;
      width: 200px;
      height: max-content;
      margin-right: 30px;
      border-radius: 20px;
      border-style: solid;
      border-width: 5px;
      border-color: goldenrod;
    }
    .menuList {
      background-color: #bf5f33;
      border-collapse: inherit;

      .typeHead {
        font-size: 24px;
      }

      .itemName {
        font-size: 18px;
      }

      .itemPrice {
        font-size: 18px;
      }
      .itemDesc {
        font-size: 12px;
        font-style: italic;
      }
    }

    .qtyForm {
      width: 50px;
      text-align: center;
    }

    .bottomLine {
      float: right;
    }
  }
  .buttonHolder {
    text-align: center;
    .submit {
      padding-top: 15px;
      padding-bottom: 15px;
      border-radius: 4px;
      background-color: #91272b;
      border: none;
      color: #ffffff;
      text-align: center;
      font-size: 15px;
      width: 150px;
      transition: all 0.5s;
      margin: 5px;
    }

    .submit span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
    }

    .submit span:after {
      content: "\00bb";
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }

    .submit:hover span {
      padding-right: 25px;
    }

    .submit:hover span:after {
      opacity: 1;
      right: 0;
    }
  }
  .thankyou {
    width: 50%;
    background-color: #bf5f33;
    position: absolute;
    left: 25%;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color: goldenrod;
    border-radius: 8px;
  }
}
